<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <fieldset>
            <legend> Escolha seus interesses </ legend>
                <div>
                    <input type="checkbox" id="codificação" name="interesse" value="codificação">
                    <label for="coding"> Codificação </ label>
                </div>
                <div>
                    <input type="checkbox" id="música" name="interesse" value="música">
                    <label for="music"> Música </ label>
                </div>
                <div>
                    <input type="checkbox" id="arte" name="interesse" value="arte">
                    <label for="art"> Art </ label>
                </div>
                <div>
                    <input type="checkbox" id="sports" name="interesse" value="esportes">
                    <label for="sports"> Esportes </ label>
                </div>
                <div>
                    <input type="checkbox" id="cozinhar" name="interesse" value="cozinhar">
                    <label for="cooking"> Cozinhando </ label>
                </div>
                <div>
                    <input type="checkbox" id="outro" name="interesse" value="outro">
                    <label for="other"> Outro </ label>
                        <input type="text" id="otherValue" name="outro">
                </div>
                <div>
                    <button type="submit"> Enviar formulário </ button>
                </div>
        </fieldset>
    </form>
    <style>
        html {
            font-family: sans-serif;
        }

        form {
            width: 600px;
            margin: 0 auto;
        }

        div {
            margin-bottom: 10px;
        }

        fieldset {
            background: cyan;
            border: 5px solid blue;
        }

        legend {
            padding: 10px;
            background: blue;
            color: cyan;
        }
    </style>

</body>

<script>
    const otherCheckbox = document.querySelector('#other');
    const otherText = document.querySelector('#otherValue');
    otherText.style.visibility = 'hidden';

    otherCheckbox.addEventListener('change', () => {
    if(otherCheckbox.checked) {
        otherText.style.visibility = 'visible';
        otherText.value = '';
    } else {
        otherText.style.visibility = 'hidden';
    }
    });

</script>
</html>