<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <input type="text" class="outputInput" placeholder="Escreva sua lista">
        <button class="outputButton">Search</button>
        <ul class="outputUl"></ul>
    </div>

</body>
<script>
    var list = document.querySelector('.outputUl');
    var searchInput = document.querySelector('.outputInput');
    var searchBtn = document.querySelector('.outputButton');

    list.innerHTML = '';

    var myHistory = [];

    searchBtn.onclick = function () {
        if (searchInput.value !== '') {
            myHistory.unshift(searchInput.value);

            list.innerHTML = '';

            for (var i = 0; i < myHistory.length; i++) {
                itemText = myHistory[i];
                var listItem = document.createElement('li');
                listItem.textContent = itemText;
                list.appendChild(listItem);
            }

            /*if (myHistory.length >= 5) {
                myHistory.pop();
            }*/

            searchInput.value = '';
            searchInput.focus();
        }
    }
</script>

</html>